= f.govuk_fieldset legend: { text: 'Modifiers' } do
  -  @fee_scheme.modifier_types.map do |modifier_type|
    = f.govuk_number_field :modifier_type,
      label: { text: modifier_type.description },
      width: 'one-third'
