%h1.govuk-heading LAA Fee Calculator User Interface
%p A simple Ruby on Rails application that makes a call to the fee calculator API
%br/

= form_with url: fee_scheme_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
  = f.govuk_collection_select :fee_scheme,
    @fee_schemes.map { |fee| [fee.id, fee.description] },
    :first,
    :last,
    label: { text: 'Fee Scheme' },
    width: 'one-third'

  = f.govuk_submit 'Continue'

